body {
    font-family: Arial, sans-serif;
    font-size: 16pt;
    color: #e9e2e2;
    line-height: 1;
    background-color: #000000;
}

.h1 {
    height: 310px;
    background-image: url(../images/country/body_top.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5deb3;
    text-shadow: 1px 1px 10px #4b2c14;
}

.h111 {
    font-family: 'serif', serif;
    font-size: 32pt;
    font-weight: bold;
}


.map {
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.map iframe {
    display: block;
    width: 100%;
    height: 600px;
    margin-top: 25px;
}

.clickable-overlay {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 600px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0); /* 完全に透明 */
}

.header, .footer {
    background-color: #000000; /* ヘッダーとフッターの背景を黒に設定 */
}

.site-menu a {
    color: #FFFFFF; /* メニューリンクの文字色を白に設定 */
}

