/*top*/
nav.floating {
    position: absolute;
    height: 600px;
    right: 10px;
    height: calc(18vh - 50px);
    color: #ffffff;
    background-color: #d39609;
}
/*トップ画像*/
.first-view {
    height: calc(120vh - 140px);
    background-image: url(../images/index/top_main.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 5px 5px 10px #7f2905;
}

body {
    font-family: "serif", serif;
}

header {
    text-align: center;
    margin-top: 20px;
}

.flag-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.flag-item {
    margin: 20px;
    cursor: pointer;
}

.flag-item img {
    width: 100px;
    height: auto;
    border: 2px solid #ccc;
}

/*ヘッターの字体*/
.site-menu ul li a {
    font-family: 'serif', serif;
}

.heritage-menu {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.heritage-menu ul {
    list-style: none;
    padding: 0;
}

.heritage-menu ul li {
    margin: 5px 0;
}

.heritage-menu ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.heritage-menu ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .member-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .member-list li {
        width: 220px;
        margin-left: 30px;
    }
}
