/*top*/
nav.floating {
    position: absolute;
    height: 600px;
    right: 10px;
    height: calc(18vh - 50px);
    color: #ffffff;
    background-color: #d39609;
}
/*トップ画像*/
.first-view {
    height: calc(120vh - 140px);
    background-image: url(../images/index/top_main.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 5px 5px 10px #7f2905;
}

.countries {
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 55px;
}

.countries h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.countries h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.member-list {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll;
}

.member-list li {
    flex-shrink: 0;
    width: 260px;
    margin-left: 75px;
}

.member-list li:first-child {
    margin-left: 0;
}

/*ヘッターの字体*/
.site-menu ul li a {
    font-family: 'serif', serif;
}

@media (max-width: 800px) {
    .member-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .member-list li {
        width: 220px;
        margin-left: 30px;
    }
}
